################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TiendaAnimal/obj/Debug/netcoreapp3.1
