<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,version=v4.7.2"/>
  </startup>
  <connectionStrings>
	<add name="conexion" connectionString="Data Source=isis.cimhmcptvjs2.us-east-1.rds.amazonaws.com;Initial Catalog = Admin_Envios;User id=admin;password=Cambiar.100; Integrated Security= False" providerName="System.Data.SqlClient"/>
   <!--<add name="conexion" connectionString="Data Source=tiendaanimal.database.windows.net;Initial Catalog=Admin_Envios;User ID=administrador;Password=Coke24838014*;"/>--> 
    <!--<add name="conexion" connectionString="Data Source=COKE\;Initial Catalog = Admin_Envios; Integrated Security= True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>